* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}
body {
  width: calc(100vw - 15px); /* 15px é uma média da largura do scrollbar */
}

a {
  color: black;
}

.container {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  overflow: hidden;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 24px;
  padding-top: 24px;
  padding-bottom: 24px;
  position: fixed;
  top: 0;
  overflow: hidden;

  width: 230px;
  max-width: 100%;
  min-height: 99vh;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 165px;
}
li {
  display: flex;
  align-items: center;
  font-size: 22px;
}

ul img {
  width: 25px;
  height: 25px;
  margin-right: 12px;
}

.user_logout {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 12px;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
main {
  padding: 16px;
  width: 700px;
  max-width: 100%;
  border: 1px solid black;
  margin-left: 238px;
}

.profile {
  max-width: 100%;
}
.profile__background {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
  position: relative;
}

.profile__avatar {
  position: absolute;
  bottom: -60px;
  left: 15px;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.profile__content {
  margin-top: 80px;
}

.profile__posts p {
  line-break: anywhere;
}
