<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página Inicial / Pia daí</title>
  </head>
  <body>
    <aside>
      <ul>
        <li>
          <form action="{%url 'core:logout'%}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
          </form>
        </li>
        <li>LOGO</li>
        <li>Pagina inicial</li>
        <li>Explorar</li>
        <li>Notificações</li>
        <li>Mensagens</li>
        <li>Perfil</li>
      </ul>
    </aside>
    <div>
      -- main content --

      <form action="" method="post">
        {% csrf_token %}
        <textarea name="content" id="content"></textarea>
        <button type="submit">Postar</button>
      </form>

      {% for post in posts %}
      <div>{{post.content}}</div>
      {% endfor %}
    </div>
  </body>
</html>
