<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/feed.css' %}" />
    <title>Página Inicial / Pia daí</title>
  </head>
  <body>
    <div class="container">
      <aside>
        <ul>
          <li>LOGO</li>
          <li>
            {% load static %}
            <img src="{%static 'images/botao-de-inicio.png'%}" alt="Home" />
            <b><a href="{%url 'core:index'%}">Home</a></b>
          </li>
          <li>
            {% load static %}
            <img src="{%static 'images/lupa.png'%}" alt="Explorar" />
            Explorar
          </li>
          <li>
            {% load static %}
            <img src="{%static 'images/notificacao.png'%}" alt="Notificação" />
            Notificações
          </li>
          <li>
            {% load static %}
            <img src="{%static 'images/mensagens.png'%}" alt="Mensagem" />
            Mensagens
          </li>
          <li>
            {% load static %}
            <img src="{%static 'images/perfil.png'%}" alt="Perfil" />
            <a href="{%url 'core:profile' username=request.user.username%}"
              >Perfil</a
            >
          </li>
        </ul>

        <form action="{%url 'core:logout'%}" method="post">
          {% csrf_token %} {% load static %}
          <div class="user_logout">
            <img
              class="avatar"
              src="{{user.profile.avatar.url}}"
              alt="{{user.username}}"
            />

            <button type="submit">Logout</button>
          </div>
        </form>
      </aside>
      <main>
        <form action="" method="post">
          {% csrf_token %}
          <div class="publish__post">
            <img
              class="post__img"
              src="{{user.profile.avatar.url}}"
              alt="{{user.username}}"
            />
            <textarea
              name="content"
              id="content"
              placeholder="O que está acontecendo?"
              oninput="this.style.height = ''; this.style.height = this.scrollHeight + 'px'"
            ></textarea>
          </div>
          <button type="submit">Postar</button>
        </form>

        {% for post in posts %}
        <div class="post__container">
          <a href="{%url 'core:profile' username=post.user.username%}">
            <img
              class="post__img"
              src="{{post.user.profile.avatar.url}}"
              alt=""
            />
          </a>

          <div class="post__content">
            <h3>
              <a href="{%url 'core:profile' username=post.user.username%}">
                {{post.user}}
              </a>
              <span class="post__date">
                {{post.created_at|date:"d M"}} {{post.created_at|date:"H:i"}}
              </span>
            </h3>
            <p>{{post.content|linebreaksbr }}</p>
          </div>
          <div>
            <p>
              Likes
              <span id="like-count-{{ post.id }}">{{ post.total_likes }}</span>
            </p>

            <div
              class="{% if post.liked_by_user %}heart is-active{% else %}heart{% endif %}"
              onclick="likePost({{ post.id }})"
              id="heart-{{ post.id }}"
            ></div>
          </div>
        </div>

        {% endfor %}
      </main>
    </div>
  </body>
  <script>
    function likePost(postId) {
      fetch(`/post/${postId}/like/`, {
        method: "POST",
        headers: {
          "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken]")
            .value,
        },
      })
        .then((response) => response.json())
        .then((data) => {
          console.log(data);
          if (data.error) {
            alert("Erro ao curtir o post!");
            return;
          }

          // Atualiza o contador de curtidas
          const likeCount = document.getElementById(`like-count-${postId}`);
          likeCount.textContent = data.total_likes; // Atualiza o número de curtidas
          console.log(data.total_likes);

          heart = document.querySelector("#heart-" + postId);
          heart.classList.toggle("is-active");
        })
        .catch((error) => {
          console.error("Erro:", error);
        });
    }
  </script>
</html>
