<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.0/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h2 class="mt-5">Login</h2>

      <!-- Exibir mensagens de erro, se houver -->
      {% if form.errors %}
      <div class="alert alert-danger">
        <strong>Erro!</strong> Por favor, corrija os erros abaixo.
      </div>
      {% endif %}

      <form method="post">
        {% csrf_token %}

        <!-- Campo de email -->
        <div class="form-group">
          <label for="id_username">Nome de usuário</label>
          {{ form.username }}
        </div>

        <!-- Campo de senha -->
        <div class="form-group">
          <label for="id_password">Senha</label>
          {{ form.password }}
        </div>

        <button type="submit" class="btn btn-primary">Entrar</button>
      </form>

      <p class="mt-3">
        Não tem uma conta? <a href="{% url 'core:register' %}">Cadastre-se</a>
      </p>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </body>
</html>
