<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/feed.css' %}" />
    <title>Página Inicial / Pia daí</title>
  </head>
  <body>
    <div class="container">
      <aside>
        <ul>
          <li>
            {% load static %}
            <img
              id="logo-aside"
              src="{%static 'images/just-bird.png'%}"
              alt="Pia Dai Logo"
            />
          </li>
          <li>
            <a href="{%url 'core:index'%}">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-house icon-menu-svg"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"
                /></svg
              ><span>Home</span>
            </a>
          </li>
          <li>
            {% load static %}
            <a href="#">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                class="bi bi-search icon-menu-svg"
                viewBox="0 0 16 16"
              >
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
                /></svg
              ><span>Explorar</span>
            </a>
          </li>
          <li>
            {% load static %}
            <a href="#">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                class="bi bi-bell icon-menu-svg"
                icon-menu-svg
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6"
                /></svg
              ><span>Notificações</span>
            </a>
          </li>
          <li>
            {% load static %}
            <a href="#">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                class="bi bi-envelope icon-menu-svg"
                viewBox="0 0 16 16"
              >
                <path
                  d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"
                /></svg
              ><span>Mensagens</span>
            </a>
          </li>
          <li>
            {% load static %}
            <a href="{%url 'core:profile' username=request.user.username%}">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                class="bi bi-person icon-menu-svg"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"
                /></svg
              ><span>Perfil</span>
            </a>
          </li>
        </ul>

        <form action="{%url 'core:logout'%}" method="post">
          {% csrf_token %} {% load static %}
          <div class="user_logout">
            <img
              class="avatar"
              src="{{user.profile.avatar.url}}"
              alt="{{user.username}}"
            />

            <button type="submit">Logout</button>
          </div>
        </form>
      </aside>

      <main>{% include 'partials/post_content_partials.html' %}</main>
      <div id="suggestions">
        <div class="suggestions-header">
          <h4>Novos usuários</h4>
        </div>

        <div class="users-list">
          {% for profile in new_users %}
          <a
            href="{% url 'core:profile' username=profile.user.username %}"
            class="user-item"
          >
            <img
              src="{{ profile.avatar.url }}"
              alt="{{ profile.user.username }}"
              class="user-avatar"
            />
            <span class="username">{{ profile.short_name }}</span>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
  <script>
    let page = 2;
    let loading = false;
    let hasMorePosts = true;

    window.addEventListener("scroll", () => {
      if (loading || !hasMorePosts) return;

      if (
        window.innerHeight + window.scrollY >=
        document.body.offsetHeight - 500
      ) {
        loading = true;
        fetchMorePosts();
      }
    });

    function fetchMorePosts() {
      fetch(`?page=${page}`, {
        headers: {
          "X-Requested-With": "XMLHttpRequest",
        },
      })
        .then((response) => {
          if (!response.ok) throw new Error("Erro ao buscar posts");
          return response.headers
            .get("content-type")
            ?.includes("application/json")
            ? response.json()
            : response.text();
        })
        .then((data) => {
          if (typeof data === "object" && data.has_next === false) {
            hasMorePosts = false;
            return;
          }

          if (typeof data === "string") {
            const postList = document.getElementById("post-list");
            postList.insertAdjacentHTML("beforeend", data);
            page++;
          }
        })
        .catch((error) => {
          console.error("Erro ao carregar mais posts:", error);
        })
        .finally(() => {
          loading = false;
        });
    }
    function likePost(postId) {
      fetch(`/post/${postId}/like/`, {
        method: "POST",
        headers: {
          "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken]")
            .value,
        },
      })
        .then((response) => response.json())
        .then((data) => {
          console.log(data);
          if (data.error) {
            alert("Erro ao curtir o post!");
            return;
          }

          // Atualiza o contador de curtidas
          const likeCount = document.getElementById(`like-count-${postId}`);
          likeCount.textContent = data.total_likes; // Atualiza o número de curtidas
          console.log(data.total_likes);

          heart = document.querySelector("#heart-" + postId);
          heart.classList.toggle("is-active");
        })
        .catch((error) => {
          console.error("Erro:", error);
        });
    }
  </script>
</html>
