<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/profile.css' %}" />
    <title>Perfil de {{profile.user}}</title>
  </head>
  <body>
    <div class="container">
      <aside>
        <ul>
          <li>LOGO</li>
          <li>
            {% load static %}
            <img src="{%static 'images/botao-de-inicio.png'%}" alt="Home" />
            <a href="{%url 'core:index'%}">Home</a>
          </li>
          <li>
            {% load static %}
            <img src="{%static 'images/lupa.png'%}" alt="Explorar" />
            Explorar
          </li>
          <li>
            {% load static %}
            <img src="{%static 'images/notificacao.png'%}" alt="Notificação" />
            Notificações
          </li>
          <li>
            {% load static %}
            <img src="{%static 'images/mensagens.png'%}" alt="Mensagem" />
            Mensagens
          </li>
          <li>
            {% load static %}
            <img src="{%static 'images/perfil.png'%}" alt="Perfil" />
            {% if profile.user == user %} <b>Perfil</b> {% else %}
            <a href="{%url 'core:profile' username=request.user.username%}"
              >Perfil</a
            >
            {% endif %}
          </li>
        </ul>

        <form action="{%url 'core:logout'%}" method="post">
          {% csrf_token %} {% load static %}
          <div class="user_logout">
            <img
              class="avatar"
              src="{{user.profile.avatar.url}}"
              alt="{{user.username}}"
            />

            <button type="submit">Logout</button>
          </div>
        </form>
      </aside>
      <main>
        <p>{{profile.user}}</p>
        <div class="profile">
          {% load static %}
          <div class="profile__background">
            <img
              class="profile__avatar"
              src="{{profile.avatar.url}}"
              alt="{{profile.user}}"
            />
          </div>
        </div>
        <div class="profile__content">
          <h1>{{profile.user}}</h1>
          <p>Joined {{profile.user.date_joined|date:"j \d\e F \d\e Y"}}</p>
        </div>

        <div class="profile__posts">
          <p>POSTS</p>
          {% for post in posts %}
          <p>{{post.content}}</p>
          {% endfor %}
        </div>
      </main>
    </div>
  </body>
</html>
